{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GamerDUOC - Agregar Juegos</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="{% static 'js/shoppingcart.js' %}" defer></script>
</head>

<body class="wrapper">
  <header class="header">
    <a href="{% url 'landing_page' %}" class="logo">Gamer <span>DUOC</span></a>
    <nav class="navbar">
      {% if user.is_authenticated %}
      <form id="logoutForm" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <a href="#" onclick="document.getElementById('logoutForm').submit()">Cerrar sesión</a>
      </form>
      {% else %}
      <a href="{% url 'signup' %}">Registrarse</a>
      <a href="{% url 'login' %}">Iniciar sesión</a>
      {% endif %}
      <a href="{% url 'shoppingcart' %}"><img src="./../static/icons/shopping-cart.svg" alt="Carrito" />
        <span id="cuenta-carrito">0</span>
      </a>
    </nav>
  </header>

  <header class="encabezado">
    <h1>Agregar juegos</h1>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2>Formulario para agregar un juego:</h2>
          <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_name" class="form-label">Nombre:</label>
              <input type="text" id="id_name" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="id_description" class="form-label">Descripción:</label>
              <textarea id="id_description" name="description" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="id_price" class="form-label">Precio:</label>
              <input type="number" id="id_price" name="price" class="form-control">
            </div>
            <div class="mb-3">
              <label for="id_category" class="form-label">Categoría:</label>
              <select id="id_category" name="category" class="form-select">
                <option value="1">Terror</option>
                <option value="2">Acción</option>
                <option value="3">Carreras</option>
                <option value="4">Aventura</option>
              </select>
            </div>
            <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
            <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>© 2021 GamerDUOC. Todos los derechos reservados.</p>
  </footer>
</body>

</html>
